<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/articleView.css">
</head>
<body>
<div id="article-view-container" >
    <article>
        <input type="hidden" id="article-view-id" th:value="${viewArticle.id}">
        <div class="article-view-title-container">
            <h4 id="article-view-title" th:text="${viewArticle.title}"
            th:onclick="|location.href='@{/article/{id} (id = ${viewArticle.id})}'|"></h4>
            <h5 class="article-view-category" th:text="|Category: ${viewArticle.category.getName()}|"></h5>
        </div>
        <div class="article-view-author-container">
            <p id="article-view-author" th:text="|Writer: ${viewArticle.author.nicknameWithoutCode}|"></p>
            <p id="article-view-author-hover" th:text="${viewArticle.author.nickname}"></p>
        </div>
        <div class="article-view-time-container">
            <p id="article-view-created-time"
               th:text="|Created at: ${#temporals.format(viewArticle.createdAt, 'yyyy-MM-dd HH:mm')}|"></p>
            <span th:if="${viewArticle.updatedAt} != ${viewArticle.createdAt}">
                <span id="article-view-updated-time"
                   th:text="|Updated at: ${#temporals.format(viewArticle.updatedAt, 'yyyy-MM-dd HH:mm')}|"></span>
            </span>
        </div>
        <div class="article-view-content-container">
            <section class="article-view-section">
                <div style="margin: 5px;" th:each="line : ${#strings.arraySplit(viewArticle.content, '&#10')}">
                    <p style="margin: 0;" th:text="${line}"></p>
                </div>
            </section>
        </div>
        <div class="article-view-comment-container">
            <div class="article-view-comment-title">
                <h4>comments</h4>
            </div>
            <div class="article-view-comment-body" th:if="${comments}" th:each="comment : ${comments}">
<!--                content-->
                <input type="hidden" class="article-view-comment-id" th:value="${comment.id}">
                <div class="article-view-comment-author">
                    <input type="hidden" th:value="${comment.author.id}">
                    <span class="material-symbols-outlined" th:if="${comment.parentId} != null">
                        subdirectory_arrow_right
                    </span>
                    <p class="article-view-author-nickname" th:text="${comment.author.nicknameWithoutCode}"></p>
                </div>
                <div class="article-view-comment-content">
                    <div style="margin: 5px;" th:each="line : ${#strings.arraySplit(comment.content, '&#10')}">
                        <p style="margin: 0;" th:text="${line}"></p>
                    </div>
                </div>

<!--                modify-->
                <div class="article-view-modify-comment-container">
                    <textarea cols="30" rows="1" class="article-view-modify-comment-textarea"
                              th:text="${comment.content}"></textarea>
                    <button class="article-view-cancel-modify-comment-btn">cancel</button>
                    <button class="article-view-submit-modify-comment-btn">submit</button>
                </div>
                <div class="article-view-comment-button-container">
                    <button class="article-view-create-reply-btn">reply</button>
                    <button class="article-view-modify-comment-btn">modify</button>
                    <button class="article-view-delete-comment-btn">delete</button>
                </div>
            </div>
            <div class="article-view-create-comment-container">
                <div class="article-view-create-comment-title">
                    <h4>create comment</h4>
                </div>
                <div class="article-view-create-comment-body">
                    <input id="article-view-create-comment-author-id" type="hidden">
                    <p></p>
                    <textarea name="content" id="article-view-create-comment-content" cols="30" rows="10"
                              placeholder="comment"></textarea>
                    <button id="article-view-create-comment-btn">create</button>
                </div>
            </div>
        </div>
        <div class="article-view-reply-body">
            <input type="hidden" class="article-view-parent-comment-id">
            <div class="article-view-reply-author">
                <input type="hidden">
                <span class="material-symbols-outlined">
                        subdirectory_arrow_right
                    </span>
                <p></p>
            </div>
            <div class="article-view-reply-content">
                <textarea cols="30" rows="1" class="article-view-reply-textarea"></textarea>
                <button class="article-view-cancel-reply-btn">cancel</button>
                <button class="article-view-submit-reply-btn">submit</button>
            </div>
        </div>
    </article>
</div>
<div id="article-view-button-container">
    <button type="button" id="article-view-delete-article-btn">delete</button>
    <button type="button" id="article-view-modify-article-btn">modify</button>
</div>

</body>
</html>