<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul th:fragment="recursiveTree(categories)">
    <li th:each="category : ${categories}">
        <input class="category-id" type="hidden" th:value="${category.id}">
        <span class="category-name" th:text="${category.name}"></span>
        <span class="delete-category-btn" th:if="${category.children}">-</span>
        <span class="create-category-btn">+</span>
        <ul th:if="${category.children}" th:replace="tree :: recursiveTree(${category.children})"></ul>
    </li>
</ul>
</body>
</html>